
:root {
  font-family: 'Coco Gothic', sans-serif;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  

--primary: #1A1A1A;
--secondary: #014BA0;
--terceary: #003077;
--white: #fefefe;
--black: #111;
--red:#ff6767;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}