
:root {
  font-family: 'Opens sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

--primary: #000028;
--secondary: #001540;
--terceary: #003077;
--white: #fefefe;
--black: #111;
--red:#ff6767;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}